



.weeklylog {
    font-size: 24px;
    color: rgb(204, 95, 214);
    font-family: Arial,
        Helvetica,
        sans-serif;
}

.symbols {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 201, 176);
    font-weight: bolder;
    font-size: 14px;
}

.humidity, .temp, .date, .conditon{
    font-family: Arial,
    Helvetica,
    sans-serif;
    color: rgb(255, 145, 0);
    font-size: 19px;
}
.timezone{

}


.todaysymbols{

}

.nowsymbols{

}